services:
  # --- LE SITE (FRONTEND) ---
  cobalt-front:
    build: .
    container_name: cobalt-site
    ports:
      - "5173:5173"
    volumes:
      - ./src:/app/src
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true